doctype html
head
  title #{title} | #{page}
  link(rel='stylesheet' href='/stylesheets/main.css')
  meta(name='viewport' content='width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0')
block content
include includes/scripts